
<p>holis</p>
<%= link_to 'Crear TODO', "/create_all", :class =>"btn waves-effect waves-light light-blue lighten-2" %><br><br><br>

	
<%= link_to 'Crear cliente', "/create_client", :class =>"btn waves-effect waves-light" %><br><br>
<%= link_to 'Crear proveedor', "/create_supplier", :class =>"btn waves-effect waves-light" %><br><br>
<%= link_to 'Crear producto', "/create_product", :class =>"btn waves-effect waves-light" %>
<%= link_to 'Crear lote', "/create_batch", :class =>"btn waves-effect waves-light" %>




