<p id="notice"><%= notice %></p>

<h3>Listado Formas de Pago</h3>
<a class="btn-floating btn-large waves-effect waves-light red" href="/payment_forms/new">
  <i class="material-icons">add</i>
</a>

<table class="striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Permite dar cambio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_forms.each do |payment_form| %>
      <tr>
        <td><%= payment_form.nombre %></td>
        <td><%= payment_form.permiteDarCambio ? 'Sí' : 'No' %></td>
        <td><%= link_to 'Show', payment_form %></td>
        <td><%= link_to 'Destroy', payment_form, method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
