<%= form_for([@batch.product, @batch]) do |f| %>
  <% if @batch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@batch.errors.count, "error") %> prohibited this batch from being saved:</h2>

      <ul>
      <% @batch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :product_id,  hidden: true %>
  <div class="field">
    <%= f.label :detail %><br />
    <%= f.text_field :detail %>
  </div>
  <div class="field">
    <%= f.label :expiration_date %><br />
    <%= f.date_field :expiration_date, :class =>"datepicker", :required=>true %>
  </div>
  <div class="field">
    <%= f.label :entry_date %><br />
    <%= f.date_field :entry_date, :class =>"datepicker", :required=>true %>
  </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
