<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :required=>true %>
  </div>
  <div class="field">
    <%= f.label :minimum %><br>
    <%= f.number_field :minimum, :required=>true %>
  </div>

  <button class="btn waves-effect waves-light" type="submit" name="action">Crear
    <i class="material-icons right">send</i>
  </button>

<% end %>
