<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Cantidad minima:</strong>
  <%= @product.minimum %>
</p>

<p>
  <strong>Cantidad actual:</strong>
  <%= @product.amount %>
</p>

<br>
<%= link_to 'Edit product', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<br><br>
<p>
 <strong>Lotes:</strong>
</p>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cant minima</th>
      <th>Cant actual</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
  </tbody>
</table>
<br>


 <%= link_to 'Agregar lote', new_product_batch_url(@product) %><br><br>

