<p id="notice"><%= notice %></p>

<h3>Listado de proveedores</h3>
<a class="btn-floating btn-large waves-effect waves-light red" href="/suppliers/new">
  <i class="material-icons">add</i>
</a>
<table  class="striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>URL de pedido de productos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.name %></td>
        <td><%= supplier.product_request_url %></td>
        <td><%= link_to 'Show', supplier %></td>
        <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
        <td><%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

