<%= form_for(@sale) do |f| %>
    <% if @sale.errors.any? %>
        <div class="section">
          <div id="error_explanation">
            <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

            <ul>
              <% @sale.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="input-field">
      <select name=cliente" data-bind="options: clientesActuales,
                            optionsText: function(i) {return i.first_name +' '+i.last_name},
                            value: clienteSeleccionado,
                            optionsCaption: 'Seleccione...'" required>
      </select>
      <%= f.label 'Cliente a facturar: ' %>

    </div>
    <br>
    <div class="input-field">

      <select name="payments" data-bind="options: pagosActuales,
                            optionsText: function(i) {return i.nombre},
                            value: pagoSeleccionado,
                            optionsCaption: 'Seleccione...'" required>
      </select>
      <%= f.label 'Forma de Pago ' %>
    </div>
    <br>
    <button data-target="modal1" class="btn-floating modal-trigger"><i class="material-icons dp48">queue</i>
    </button>
    <table>
      <thead>
      <th>código</th>
      <th>nombre</th>
      <th>precio U.</th>
      <th>cantidad</th>
      <th>precio t.</th>
      <th></th>
      </thead>
      <tbody data-bind="foreach: productos">
      <tr>
        <td data-bind="text: codigo"></td>
        <td data-bind="text: nombre"></td>
        <td data-bind="text: precio"></td>
        <td data-bind="text: cantidad"></td>
        <td data-bind="text: total"></td>
        <td data-bind="visible: codigo() != null">
          <button class="btn-floating" data-bind="click: deleteRow"><i class="material-icons">delete</i>
          </button>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="4"></td>
        <td>Total: $ <span data-bind="text:Total"></span></td>
      </tr>
      </tfoot>
    </table>



    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Agregar un producto</h4>
        <div class="input-field">
          <%= label_tag 'cantidad' %>
          <%= number_field :producto, :cantidad, {class: 'input-field validate', 'data-bind': 'value: cantidad', 'required': ''} %>
        </div>
        <div class="input-field col s12">
          <select data-bind="options: productosActuales,
                            optionsText: function(i) {return i.name},
                            value: productoSeleccionado,
                            optionsCaption: 'Seleccione...'" required>
          </select>
          <label>Productos</label>

        </div>
      </div>
      <div class="modal-footer">
        <a data-bind="click: AgregarProducto" class=" modal-action waves-effect waves-green btn-flat">Agregar</a>
      </div>
    </div>

    <%= link_to 'TERMINAR', '#', {class: "btn waves-effect waves-light" , 'data-bind': 'click: Persist'}%>
    <%= link_to 'Cancelar', sales_path, :class => "btn waves-effect waves-light" %>
<% end %>

