<!DOCTYPE html>
<html>
<head>
  <title>ParadigmsAppServer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
	<body>

		<nav>
		    <div class="nav-wrapper">
				<a href="/" class="brand-logo center">Rails</a>
				<ul id="nav-mobile" class="left">
					<li><a href="/products">Productos</a></li>
					<li><a href="/suppliers">Proveedores</a></li>
					<li><a href="/clients">Clientes</a></li>
					<li><a href="/users">Usuarios</a></li>
					<li><a href="/statistics/show">Estadisticas</a></li>
				</ul>
			</div>
	    </nav> 

         <main>
			<div class="container" >
				<% if notice %>
				  <div class="card-panel teal lighten-2">
				    <span class="white-text text-darken-2"> <%= notice %></span>
				  </div>
				<% end %>
		 		<%= yield %>
			</div>
         </main>
	

		<footer class="page-footer">
			
		</footer>

	</body>
</html>
